<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>异清轩博客</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:href="@{/Home/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" href="css/nprogress.css" th:href="@{/Home/css/nprogress.css}" />
  <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/Home/css/style.css}" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" th:href="@{/Home/css/font-awesome.min.css}" />
  <link rel="apple-touch-icon-precomposed" href="images/icon/icon.png" th:href="@{/Home/images/icon/icon.png}" />
  <link rel="shortcut icon" href="images/icon/favicon.ico" th:href="@{/Home/images/icon/favicon.ico}" />
  <script src="js/jquery-2.1.4.min.js" th:src="@{/Home/js/jquery-2.1.4.min.js}"></script>
  <script src="js/nprogress.js" th:src="@{/Home/js/nprogress.js}"></script>
  <script src="js/jquery.lazyload.min.js" th:src="@{/Home/js/jquery.lazyload.min.js}"></script>
  <style type="text/css">
    p1{
      width:10em;/*保证文字不会被半汉字截断,显示10个文字*/
      overflow:hidden;/*超出长度的文字隐藏*/
      text-overflow:ellipsis;/*文字隐藏以后添加省略号*/
      white-space:nowrap;/*强制不换行*/
    }
    .button {
      background-color: #00b7ee;
      margin-left: auto;
      margin-right: auto;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
    }
  </style>

</head>

<body class="user-select">
<header class="header">
  <nav class="navbar navbar-default" id="navbar">
    <div class="container">
      <div class="header-topbar hidden-xs link-border">
        <ul class="site-nav topmenu">
          <li><a href="tags.html"    th:href="@{/tags}">标签云</a></li>
          <li><a href="readers.html" th:href="@{/readers}" rel="nofollow">读者墙</a></li>
          <li><a href="links.html"   th:href="@{/links}" rel="nofollow">友情链接</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" rel="nofollow">关注本站 <span class="caret"></span></a>
            <ul class="dropdown-menu header-topbar-dropdown-menu">
              <li><a data-toggle="modal" data-target="#WeChat" rel="nofollow"><i class="fa fa-weixin"></i> 微信</a></li>
              <li><a rel="nofollow"><i class="fa fa-weibo"></i> 微博</a></li>
              <li><a data-toggle="modal" data-target="#areDeveloping" rel="nofollow"><i class="fa fa-rss"></i> RSS</a></li>
            </ul>
          </li>
        </ul>
        <a data-toggle="modal" data-target="#loginModal" class="login" rel="nofollow">Hi,请登录</a>&nbsp;&nbsp;</div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <h1 class="logo hvr-bounce-in"><a href="" title=""><img src="images/logo.png" alt=""  th:src="@{/Home/images/logo.png}"/></a></h1>
      </div>
      <div class="collapse navbar-collapse" id="header-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a data-cont="异清轩首页" href="/">异清轩首页</a></li>
          <li><a href="category.html" th:href="@{/Category/1}">JAVA</a></li>
          <li><a href="category.html" th:href="@{/Category/10}">计算机科学</a></li>
          <li><a href="category.html" th:href="@{/Category/20}">C语言</a></li>
          <li><a href="category.html" th:href="@{/Category/15}">其他技术</a></li>
          <li><a href="category.html" th:href="@{/}">Leetcode</a></li>
        </ul>
        <form class="navbar-form visible-xs" action="/Home/Search" method="post">
          <div class="input-group">
            <input type="text" name="select" class="form-control" placeholder="请输入关键字" maxlength="20" autocomplete="off" />
            <span class="input-group-btn">
            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>
<section class="container">
  <div class="content-wrap">
    <div class="content">
      <header class="article-header">
        <h1 class="article-title"><a href="article.html" th:text="${article.article_title}">php如何判断一个日期的格式是否正确</a></h1>
        <div class="article-meta">
          <span class="item article-meta-time">
          <time th:text="${#dates.format(article.article_post_time, 'yyyy-MM-dd HH:mm')}" class="time" data-toggle="tooltip" data-placement="bottom" title="时间：2016-1-4 10:29:39"><i class="glyphicon glyphicon-time"></i> </time>
          </span>
          <span class="views"><i class="glyphicon glyphicon-eye-open" th:text="${article.article_view_count}"></i> 人围观 &nbsp;&nbsp;&nbsp;&nbsp;</span> <a class="comment" ><i class="glyphicon glyphicon-comment" th:text="${ article.article_comment_count}"></i>个不明物体</a></p>
        </div>
      </header>
      <article class="article-content">
        <p th:utext="${article.article_content}"> 用php获取上个月最后一天的时间，有两种方法，都非常简单，详细实现源码如下： </p>
        <p class="article-copyright hidden-xs">未经允许不得转载：<a href="">异清轩博客</a> » <a href="article.html" th:text="${article.article_title}">php如何判断一个日期的格式是否正确</a></p>
      </article>

      <div class="title" id="comment">
        <h3>评论 <small>抢沙发</small></h3>
      </div>
      <!--<div id="respond">
        <div class="comment-signarea">
          <h3 class="text-muted">评论前必须登录！</h3>
          <p> <a href="javascript:;" class="btn btn-primary login" rel="nofollow">立即登录</a> &nbsp; <a href="javascript:;" class="btn btn-default register" rel="nofollow">注册</a> </p>
          <h3 class="text-muted">当前文章禁止评论</h3>
        </div>
      </div>-->
      <div id="respond">
        <form action="/Home/comment" method="post" id="comment-form">
          <div class="comment">
            <div class="comment-title"><img class="avatar" src="images/icon/icon.png" th:src="@{/Home/images/icon/icon.png}" alt="" /></div>
            <input type="text" name="comment_author_name" class="form-control" placeholder="请输入你的名称" maxlength="20" autocomplete="off" />
            <div class="comment-box">
              <textarea placeholder="您的评论可以一针见血" name="comment" id="comment-textarea" cols="100%" rows="3" tabindex="1" ></textarea>
              <div class="comment-ctrl"> <span class="emotion"><img src="images/face/5.png" th:src="@{/Home/images/face/5.png}" width="20" height="20" alt="" />表情</span>
                <div class="comment-prompt"> <i class="fa fa-spin fa-circle-o-notch"></i> <span class="comment-prompt-text"></span> </div>
                <input type="hidden" value="1" class="articleid" />
                <button type="submit" name="comment-submit" id="comment-submit" tabindex="5" articleid="1">评论</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div id="postcomments">
        <ol class="commentlist">
          <li class="comment-content"><span class="comment-f">#1</span>
            <div class="comment-avatar"><img class="avatar" src="images/icon/icon.png" th:src="@{/Home/images/icon/icon.png}" alt="" /></div>
            <div class="comment-main">
              <p>来自<span class="address">河南郑州</span>的用户<span class="time">(2016-01-06)</span><br />
                这是匿名评论的内容这是匿名评论的内容</p>
            </div>
          </li>
        </ol>
        <div style=" padding-left: 280px;">

        <a  th:href="@{/Article/}+${prearticle}" th:if="${prearticle!=0}"  class="button">上一篇</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a  th:href="@{/Article/}+${aftarticle}" th:if="${aftarticle!=0}" class="button">下一篇</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
      </div>
    </div>
  </div>
  <aside class="sidebar">
    <div class="fixed">
      <div class="widget widget_search">
        <form class="navbar-form" action="/Home/Search" method="post">
          <div class="input-group">
            <input type="text" name="select" class="form-control" size="35" placeholder="请输入关键字" maxlength="15" autocomplete="off" />
            <span class="input-group-btn">
            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
            </span> </div>
        </form>
      </div>
      <div class="widget widget_sentence">
        <h3>每日一句</h3>
        <div class="widget-sentence-content">
          <h4 th:text="${#dates.format(session.date, 'yyyy-MM-dd EE HH:mm')}">2016年01月05日星期二</h4>
          <p>Do not let what you cannot do interfere with what you can do.<br />
            别让你不能做的事妨碍到你能做的事。（John Wooden）</p>
        </div>
      </div>
    </div>
    <div class="widget widget_hot">
      <h3>热门文章</h3>
      <ul th:each="CommentCount:${listArticleByCommentCount}">
        <li><a href="" th:href="@{/Article/}+${CommentCount.article_id}"><span class="thumbnail"><img class="thumb" data-original="images/excerpt.jpg" src="images/excerpt.jpg" alt="" th:src="@{/Admin/images/random/img_}+${CommentCount.article_id}+${session.jpg}"/></span><span class="text" th:text="${CommentCount.article_title}">php如何判断一个日期的格式是否正确</span><span class="muted" ><i class="glyphicon glyphicon-time"th:text="${#dates.format(CommentCount.article_post_time, 'yyyy-MM-dd HH:mm')}"></i>  </span><span class="muted" ><i class="glyphicon glyphicon-eye-open"th:text="${CommentCount.article_view_count}"></i> </span></a></li>
      </ul>
    </div>
  </aside>
</section>
<footer class="footer">
  <div class="container">
    <p>&copy; 2016 <a href="">ylsat.com</a> &nbsp; <a href="#" target="_blank" rel="nofollow">豫ICP备20151109-1</a> &nbsp; &nbsp; <a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
  </div>
  <div id="gotop"><a class="gotop"></a></div>
</footer>
<!--微信二维码模态框-->
<div class="modal fade user-select" id="WeChat" tabindex="-1" role="dialog" aria-labelledby="WeChatModalLabel">
  <div class="modal-dialog" role="document" style="margin-top:120px;width:280px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="WeChatModalLabel" style="cursor:default;">微信扫一扫</h4>
      </div>
      <div class="modal-body" style="text-align:center"> <img src="images/weixin.jpg" th:src="@{/Home/images/weixin.jpg}" alt="" style="cursor:pointer"/> </div>
    </div>
  </div>
</div>
<!--该功能正在日以继夜的开发中-->
<div class="modal fade user-select" id="areDeveloping" tabindex="-1" role="dialog" aria-labelledby="areDevelopingModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="areDevelopingModalLabel" style="cursor:default;">该功能正在日以继夜的开发中…</h4>
      </div>
      <div class="modal-body"> <img src="images/baoman/baoman_01.gif" alt="深思熟虑" />
        <p style="padding:15px 15px 15px 100px; position:absolute; top:15px; cursor:default;">很抱歉，程序猿正在日以继夜的开发此功能，本程序将会在以后的版本中持续完善！</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">朕已阅</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade user-select" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/Admin/Index/login" th:action="@{/Admin/Index/login}" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="loginModalLabel">登录</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="loginModalUserNmae">用户名</label>
            <input  type="text" name="username" class="form-control" id="loginModalUserNmae" placeholder="请输入用户名"  maxlength="15" autocomplete="off"  />
          </div>
          <div class="form-group">
            <label for="loginModalUserPwd">密码</label>
            <input  type="password" name="password" class="form-control" id="loginModalUserPwd" placeholder="请输入密码" maxlength="18" autocomplete="off"  />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary">登录</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--<div id="rightClickMenu">
  <ul class="list-group rightClickMenuList">
    <li class="list-group-item disabled">欢迎访问异清轩博客</li>
    <li class="list-group-item"><span>IP：</span>172.16.10.129</li>
    <li class="list-group-item"><span>地址：</span>河南省郑州市</li>
    <li class="list-group-item"><span>系统：</span>Windows10</li>
    <li class="list-group-item"><span>浏览器：</span>Chrome47</li>
  </ul>
</div>-->

<script src="js/bootstrap.min.js" th:src="@{/Home/js/bootstrap.min.js}"></script>
<script src="js/jquery.ias.js" th:src="@{/Home/js/jquery.ias.js}"></script>
<script src="js/scripts.js" th:src="@{/Home/js/scripts.js}"></script>
<script src="js/jquery.qqFace.js" th:src="@{/Home/js/jquery.qqFace.js}"></script>
<script type="text/javascript">
$(function(){
	$('.emotion').qqFace({
		id : 'facebox',
		assign:'comment-textarea',
		path:'/Home/images/arclist/'	//表情存放的路径
	});
 });
</script>
</body>
</html>